In [49]:
import pandas as pd

In [50]:
import numpy as np

IMPORTAR DATOS DE CSV

In [51]:
df = pd.read_csv("personas_sucio.csv")

In [52]:
df

     nombre        edad     ciudad               email fecha_registro
0     Ana            25    madrid      ana@example.com     2024-01-10
1      Luis          30    Sevilla    luis(at)mail.com     10/01/2024
2     Marta         NaN   VALENCIA   marta@example.com     2024-02-15
3    Pedro   veintiocho  Barcelona    pedroexample.com            NaN
4     lucía          22     Madrid   lucia@example.com      2024-3-05
5       ANA          25        MAD     ana@example.com     2024/01/10
6     Sofia         27     sevilla                 NaN     2024-05-20
7    Miguel          29        Sev     miguel@mail.com     2024-06-01
8      Juan         NaN     madrid      juan@@mail.com     2024-02-30
9     Laura         31    Valéncia   laura@example.com     2024-07-10
10  Antonio          35     Madrid    antonio@mail.com     2023-11-25
11    María         NaN    Sevilla      maria@mail.com     2024-01-15
12     Raúl     treinta   Valencia   raul@@example.com     2024-05-12
13     Eva           28  barcelona         eva@example     2024-04-05
14   Daniel          33     Madrid  daniel@example.com     2024-02-29
15   Isabel          27       Sev.     isabel@mail.com     2024-03-10
16  Alberto          40   Valencia    alberto@mail.com     2024/06/12
17   Carmen         NaN   Valéncia  carmen@example.com     2024-07-01
18    Pablo          19     MADRID       pablo@mailcom     2024-05-30
19   Teresa          25   Sevilla     teresa@ mail.com     2024-02-20

NO HAY VALORES NULOS

TODOS LOS NOMBRES INICIAN POR MAYUSCULA Y EL RESTO EN MINUSCULA

In [53]:
df["nombre"] = df["nombre"].str.title()

In [54]:
df

     nombre        edad     ciudad               email fecha_registro
0     Ana            25    madrid      ana@example.com     2024-01-10
1      Luis          30    Sevilla    luis(at)mail.com     10/01/2024
2     Marta         NaN   VALENCIA   marta@example.com     2024-02-15
3    Pedro   veintiocho  Barcelona    pedroexample.com            NaN
4     Lucía          22     Madrid   lucia@example.com      2024-3-05
5       Ana          25        MAD     ana@example.com     2024/01/10
6     Sofia         27     sevilla                 NaN     2024-05-20
7    Miguel          29        Sev     miguel@mail.com     2024-06-01
8      Juan         NaN     madrid      juan@@mail.com     2024-02-30
9     Laura         31    Valéncia   laura@example.com     2024-07-10
10  Antonio          35     Madrid    antonio@mail.com     2023-11-25
11    María         NaN    Sevilla      maria@mail.com     2024-01-15
12     Raúl     treinta   Valencia   raul@@example.com     2024-05-12
13     Eva           28  barcelona         eva@example     2024-04-05
14   Daniel          33     Madrid  daniel@example.com     2024-02-29
15   Isabel          27       Sev.     isabel@mail.com     2024-03-10
16  Alberto          40   Valencia    alberto@mail.com     2024/06/12
17   Carmen         NaN   Valéncia  carmen@example.com     2024-07-01
18    Pablo          19     MADRID       pablo@mailcom     2024-05-30
19   Teresa          25   Sevilla     teresa@ mail.com     2024-02-20

In [55]:
mapa_edades = {"veintiocho": 28, "treinta": 30}

In [56]:
df["edad"] = df["edad"].replace(mapa_edades)

In [57]:
df

     nombre  edad     ciudad               email fecha_registro
0     Ana      25    madrid      ana@example.com     2024-01-10
1      Luis    30    Sevilla    luis(at)mail.com     10/01/2024
2     Marta   NaN   VALENCIA   marta@example.com     2024-02-15
3    Pedro     28  Barcelona    pedroexample.com            NaN
4     Lucía    22     Madrid   lucia@example.com      2024-3-05
5       Ana    25        MAD     ana@example.com     2024/01/10
6     Sofia   27     sevilla                 NaN     2024-05-20
7    Miguel    29        Sev     miguel@mail.com     2024-06-01
8      Juan   NaN     madrid      juan@@mail.com     2024-02-30
9     Laura   31    Valéncia   laura@example.com     2024-07-10
10  Antonio    35     Madrid    antonio@mail.com     2023-11-25
11    María   NaN    Sevilla      maria@mail.com     2024-01-15
12     Raúl    30   Valencia   raul@@example.com     2024-05-12
13     Eva     28  barcelona         eva@example     2024-04-05
14   Daniel    33     Madrid  daniel@example.com     2024-02-29
15   Isabel    27       Sev.     isabel@mail.com     2024-03-10
16  Alberto    40   Valencia    alberto@mail.com     2024/06/12
17   Carmen   NaN   Valéncia  carmen@example.com     2024-07-01
18    Pablo    19     MADRID       pablo@mailcom     2024-05-30
19   Teresa    25   Sevilla     teresa@ mail.com     2024-02-20

In [58]:
df["edad"] = pd.to_numeric(df["edad"], errors="coerce")

In [59]:
df

     nombre  edad     ciudad               email fecha_registro
0     Ana    25.0    madrid      ana@example.com     2024-01-10
1      Luis  30.0    Sevilla    luis(at)mail.com     10/01/2024
2     Marta   NaN   VALENCIA   marta@example.com     2024-02-15
3    Pedro   28.0  Barcelona    pedroexample.com            NaN
4     Lucía  22.0     Madrid   lucia@example.com      2024-3-05
5       Ana  25.0        MAD     ana@example.com     2024/01/10
6     Sofia  27.0    sevilla                 NaN     2024-05-20
7    Miguel  29.0        Sev     miguel@mail.com     2024-06-01
8      Juan   NaN     madrid      juan@@mail.com     2024-02-30
9     Laura  31.0   Valéncia   laura@example.com     2024-07-10
10  Antonio  35.0     Madrid    antonio@mail.com     2023-11-25
11    María   NaN    Sevilla      maria@mail.com     2024-01-15
12     Raúl  30.0   Valencia   raul@@example.com     2024-05-12
13     Eva   28.0  barcelona         eva@example     2024-04-05
14   Daniel  33.0     Madrid  daniel@example.com     2024-02-29
15   Isabel  27.0       Sev.     isabel@mail.com     2024-03-10
16  Alberto  40.0   Valencia    alberto@mail.com     2024/06/12
17   Carmen   NaN   Valéncia  carmen@example.com     2024-07-01
18    Pablo  19.0     MADRID       pablo@mailcom     2024-05-30
19   Teresa  25.0   Sevilla     teresa@ mail.com     2024-02-20

In [60]:
media_edad = round(df["edad"].mean())

In [61]:
df["edad"] = df["edad"].fillna(media_edad)

In [62]:
df

     nombre  edad     ciudad               email fecha_registro
0     Ana    25.0    madrid      ana@example.com     2024-01-10
1      Luis  30.0    Sevilla    luis(at)mail.com     10/01/2024
2     Marta  28.0   VALENCIA   marta@example.com     2024-02-15
3    Pedro   28.0  Barcelona    pedroexample.com            NaN
4     Lucía  22.0     Madrid   lucia@example.com      2024-3-05
5       Ana  25.0        MAD     ana@example.com     2024/01/10
6     Sofia  27.0    sevilla                 NaN     2024-05-20
7    Miguel  29.0        Sev     miguel@mail.com     2024-06-01
8      Juan  28.0     madrid      juan@@mail.com     2024-02-30
9     Laura  31.0   Valéncia   laura@example.com     2024-07-10
10  Antonio  35.0     Madrid    antonio@mail.com     2023-11-25
11    María  28.0    Sevilla      maria@mail.com     2024-01-15
12     Raúl  30.0   Valencia   raul@@example.com     2024-05-12
13     Eva   28.0  barcelona         eva@example     2024-04-05
14   Daniel  33.0     Madrid  daniel@example.com     2024-02-29
15   Isabel  27.0       Sev.     isabel@mail.com     2024-03-10
16  Alberto  40.0   Valencia    alberto@mail.com     2024/06/12
17   Carmen  28.0   Valéncia  carmen@example.com     2024-07-01
18    Pablo  19.0     MADRID       pablo@mailcom     2024-05-30
19   Teresa  25.0   Sevilla     teresa@ mail.com     2024-02-20

TODAS LAS CIUDADES ESCRITAS EN MAYUSCULAS

In [63]:
df["ciudad"] = df["ciudad"].str.upper()

In [64]:
df

     nombre  edad     ciudad               email fecha_registro
0     Ana    25.0    MADRID      ana@example.com     2024-01-10
1      Luis  30.0    SEVILLA    luis(at)mail.com     10/01/2024
2     Marta  28.0   VALENCIA   marta@example.com     2024-02-15
3    Pedro   28.0  BARCELONA    pedroexample.com            NaN
4     Lucía  22.0     MADRID   lucia@example.com      2024-3-05
5       Ana  25.0        MAD     ana@example.com     2024/01/10
6     Sofia  27.0    SEVILLA                 NaN     2024-05-20
7    Miguel  29.0        SEV     miguel@mail.com     2024-06-01
8      Juan  28.0     MADRID      juan@@mail.com     2024-02-30
9     Laura  31.0   VALÉNCIA   laura@example.com     2024-07-10
10  Antonio  35.0     MADRID    antonio@mail.com     2023-11-25
11    María  28.0    SEVILLA      maria@mail.com     2024-01-15
12     Raúl  30.0   VALENCIA   raul@@example.com     2024-05-12
13     Eva   28.0  BARCELONA         eva@example     2024-04-05
14   Daniel  33.0     MADRID  daniel@example.com     2024-02-29
15   Isabel  27.0       SEV.     isabel@mail.com     2024-03-10
16  Alberto  40.0   VALENCIA    alberto@mail.com     2024/06/12
17   Carmen  28.0   VALÉNCIA  carmen@example.com     2024-07-01
18    Pablo  19.0     MADRID       pablo@mailcom     2024-05-30
19   Teresa  25.0   SEVILLA     teresa@ mail.com     2024-02-20

TODOS LOS EMAILS CON FORMATO CORRECTO

In [65]:
df["email"] = df["email"].fillna("no-emeil@example.com")

In [66]:
df

     nombre  edad     ciudad                 email fecha_registro
0     Ana    25.0    MADRID        ana@example.com     2024-01-10
1      Luis  30.0    SEVILLA      luis(at)mail.com     10/01/2024
2     Marta  28.0   VALENCIA     marta@example.com     2024-02-15
3    Pedro   28.0  BARCELONA      pedroexample.com            NaN
4     Lucía  22.0     MADRID     lucia@example.com      2024-3-05
5       Ana  25.0        MAD       ana@example.com     2024/01/10
6     Sofia  27.0    SEVILLA  no-emeil@example.com     2024-05-20
7    Miguel  29.0        SEV       miguel@mail.com     2024-06-01
8      Juan  28.0     MADRID        juan@@mail.com     2024-02-30
9     Laura  31.0   VALÉNCIA     laura@example.com     2024-07-10
10  Antonio  35.0     MADRID      antonio@mail.com     2023-11-25
11    María  28.0    SEVILLA        maria@mail.com     2024-01-15
12     Raúl  30.0   VALENCIA     raul@@example.com     2024-05-12
13     Eva   28.0  BARCELONA           eva@example     2024-04-05
14   Daniel  33.0     MADRID    daniel@example.com     2024-02-29
15   Isabel  27.0       SEV.       isabel@mail.com     2024-03-10
16  Alberto  40.0   VALENCIA      alberto@mail.com     2024/06/12
17   Carmen  28.0   VALÉNCIA    carmen@example.com     2024-07-01
18    Pablo  19.0     MADRID         pablo@mailcom     2024-05-30
19   Teresa  25.0   SEVILLA       teresa@ mail.com     2024-02-20

eliminar espacios entre nombre y @

In [67]:
df["email"] = df["email"].str.replace(r'(@)(\s+)', r'\1', regex=True)

In [68]:
df

     nombre  edad     ciudad                 email fecha_registro
0     Ana    25.0    MADRID        ana@example.com     2024-01-10
1      Luis  30.0    SEVILLA      luis(at)mail.com     10/01/2024
2     Marta  28.0   VALENCIA     marta@example.com     2024-02-15
3    Pedro   28.0  BARCELONA      pedroexample.com            NaN
4     Lucía  22.0     MADRID     lucia@example.com      2024-3-05
5       Ana  25.0        MAD       ana@example.com     2024/01/10
6     Sofia  27.0    SEVILLA  no-emeil@example.com     2024-05-20
7    Miguel  29.0        SEV       miguel@mail.com     2024-06-01
8      Juan  28.0     MADRID        juan@@mail.com     2024-02-30
9     Laura  31.0   VALÉNCIA     laura@example.com     2024-07-10
10  Antonio  35.0     MADRID      antonio@mail.com     2023-11-25
11    María  28.0    SEVILLA        maria@mail.com     2024-01-15
12     Raúl  30.0   VALENCIA     raul@@example.com     2024-05-12
13     Eva   28.0  BARCELONA           eva@example     2024-04-05
14   Daniel  33.0     MADRID    daniel@example.com     2024-02-29
15   Isabel  27.0       SEV.       isabel@mail.com     2024-03-10
16  Alberto  40.0   VALENCIA      alberto@mail.com     2024/06/12
17   Carmen  28.0   VALÉNCIA    carmen@example.com     2024-07-01
18    Pablo  19.0     MADRID         pablo@mailcom     2024-05-30
19   Teresa  25.0   SEVILLA        teresa@mail.com     2024-02-20

si el @ se repite

In [69]:
df["email"] = df["email"].str.replace(r'(@+)', r'@', regex=True)

In [70]:
df

     nombre  edad     ciudad                 email fecha_registro
0     Ana    25.0    MADRID        ana@example.com     2024-01-10
1      Luis  30.0    SEVILLA      luis(at)mail.com     10/01/2024
2     Marta  28.0   VALENCIA     marta@example.com     2024-02-15
3    Pedro   28.0  BARCELONA      pedroexample.com            NaN
4     Lucía  22.0     MADRID     lucia@example.com      2024-3-05
5       Ana  25.0        MAD       ana@example.com     2024/01/10
6     Sofia  27.0    SEVILLA  no-emeil@example.com     2024-05-20
7    Miguel  29.0        SEV       miguel@mail.com     2024-06-01
8      Juan  28.0     MADRID         juan@mail.com     2024-02-30
9     Laura  31.0   VALÉNCIA     laura@example.com     2024-07-10
10  Antonio  35.0     MADRID      antonio@mail.com     2023-11-25
11    María  28.0    SEVILLA        maria@mail.com     2024-01-15
12     Raúl  30.0   VALENCIA      raul@example.com     2024-05-12
13     Eva   28.0  BARCELONA           eva@example     2024-04-05
14   Daniel  33.0     MADRID    daniel@example.com     2024-02-29
15   Isabel  27.0       SEV.       isabel@mail.com     2024-03-10
16  Alberto  40.0   VALENCIA      alberto@mail.com     2024/06/12
17   Carmen  28.0   VALÉNCIA    carmen@example.com     2024-07-01
18    Pablo  19.0     MADRID         pablo@mailcom     2024-05-30
19   Teresa  25.0   SEVILLA        teresa@mail.com     2024-02-20

añadir @ si no lo tiene

In [71]:
df["email"] = df["email"].str.replace(r'(?<!@)(mail)', r'@mail', regex = True)

In [72]:
df["email"] = df["email"].str.replace(r'(?<!@)(example)', r'@example', regex = True)

In [73]:
df

     nombre  edad     ciudad                 email fecha_registro
0     Ana    25.0    MADRID        ana@example.com     2024-01-10
1      Luis  30.0    SEVILLA     luis(at)@mail.com     10/01/2024
2     Marta  28.0   VALENCIA     marta@example.com     2024-02-15
3    Pedro   28.0  BARCELONA     pedro@example.com            NaN
4     Lucía  22.0     MADRID     lucia@example.com      2024-3-05
5       Ana  25.0        MAD       ana@example.com     2024/01/10
6     Sofia  27.0    SEVILLA  no-emeil@example.com     2024-05-20
7    Miguel  29.0        SEV       miguel@mail.com     2024-06-01
8      Juan  28.0     MADRID         juan@mail.com     2024-02-30
9     Laura  31.0   VALÉNCIA     laura@example.com     2024-07-10
10  Antonio  35.0     MADRID      antonio@mail.com     2023-11-25
11    María  28.0    SEVILLA        maria@mail.com     2024-01-15
12     Raúl  30.0   VALENCIA      raul@example.com     2024-05-12
13     Eva   28.0  BARCELONA           eva@example     2024-04-05
14   Daniel  33.0     MADRID    daniel@example.com     2024-02-29
15   Isabel  27.0       SEV.       isabel@mail.com     2024-03-10
16  Alberto  40.0   VALENCIA      alberto@mail.com     2024/06/12
17   Carmen  28.0   VALÉNCIA    carmen@example.com     2024-07-01
18    Pablo  19.0     MADRID         pablo@mailcom     2024-05-30
19   Teresa  25.0   SEVILLA        teresa@mail.com     2024-02-20

añade .com al final de todos los correos

In [76]:
df["email"] = df["email"].str.replace(r'(@mail)$', r'@mail.com', regex = True)

In [77]:
df["email"] = df["email"].str.replace(r'(@example)$', r'@example.com', regex = True)

In [78]:
df

     nombre  edad     ciudad                 email fecha_registro
0     Ana    25.0    MADRID        ana@example.com     2024-01-10
1      Luis  30.0    SEVILLA     luis(at)@mail.com     10/01/2024
2     Marta  28.0   VALENCIA     marta@example.com     2024-02-15
3    Pedro   28.0  BARCELONA     pedro@example.com            NaN
4     Lucía  22.0     MADRID     lucia@example.com      2024-3-05
5       Ana  25.0        MAD       ana@example.com     2024/01/10
6     Sofia  27.0    SEVILLA  no-emeil@example.com     2024-05-20
7    Miguel  29.0        SEV       miguel@mail.com     2024-06-01
8      Juan  28.0     MADRID         juan@mail.com     2024-02-30
9     Laura  31.0   VALÉNCIA     laura@example.com     2024-07-10
10  Antonio  35.0     MADRID      antonio@mail.com     2023-11-25
11    María  28.0    SEVILLA        maria@mail.com     2024-01-15
12     Raúl  30.0   VALENCIA      raul@example.com     2024-05-12
13     Eva   28.0  BARCELONA       eva@example.com     2024-04-05
14   Daniel  33.0     MADRID    daniel@example.com     2024-02-29
15   Isabel  27.0       SEV.       isabel@mail.com     2024-03-10
16  Alberto  40.0   VALENCIA      alberto@mail.com     2024/06/12
17   Carmen  28.0   VALÉNCIA    carmen@example.com     2024-07-01
18    Pablo  19.0     MADRID         pablo@mailcom     2024-05-30
19   Teresa  25.0   SEVILLA        teresa@mail.com     2024-02-20

añade el "." de .com

In [79]:
df["email"] = df["email"].str.replace(r'(mail)(com)', r'\1.\2', regex=True)

In [80]:
df

     nombre  edad     ciudad                 email fecha_registro
0     Ana    25.0    MADRID        ana@example.com     2024-01-10
1      Luis  30.0    SEVILLA     luis(at)@mail.com     10/01/2024
2     Marta  28.0   VALENCIA     marta@example.com     2024-02-15
3    Pedro   28.0  BARCELONA     pedro@example.com            NaN
4     Lucía  22.0     MADRID     lucia@example.com      2024-3-05
5       Ana  25.0        MAD       ana@example.com     2024/01/10
6     Sofia  27.0    SEVILLA  no-emeil@example.com     2024-05-20
7    Miguel  29.0        SEV       miguel@mail.com     2024-06-01
8      Juan  28.0     MADRID         juan@mail.com     2024-02-30
9     Laura  31.0   VALÉNCIA     laura@example.com     2024-07-10
10  Antonio  35.0     MADRID      antonio@mail.com     2023-11-25
11    María  28.0    SEVILLA        maria@mail.com     2024-01-15
12     Raúl  30.0   VALENCIA      raul@example.com     2024-05-12
13     Eva   28.0  BARCELONA       eva@example.com     2024-04-05
14   Daniel  33.0     MADRID    daniel@example.com     2024-02-29
15   Isabel  27.0       SEV.       isabel@mail.com     2024-03-10
16  Alberto  40.0   VALENCIA      alberto@mail.com     2024/06/12
17   Carmen  28.0   VALÉNCIA    carmen@example.com     2024-07-01
18    Pablo  19.0     MADRID        pablo@mail.com     2024-05-30
19   Teresa  25.0   SEVILLA        teresa@mail.com     2024-02-20

PONER FORMATO DE FECHA EN FECHA_REGISTRO

In [81]:
df["fecha_registro"] = pd.to_datetime(df.get("fecha_registro"), errors="coerce")

In [82]:
df

     nombre  edad     ciudad                 email fecha_registro
0     Ana    25.0    MADRID        ana@example.com     2024-01-10
1      Luis  30.0    SEVILLA     luis(at)@mail.com            NaT
2     Marta  28.0   VALENCIA     marta@example.com     2024-02-15
3    Pedro   28.0  BARCELONA     pedro@example.com            NaT
4     Lucía  22.0     MADRID     lucia@example.com     2024-03-05
5       Ana  25.0        MAD       ana@example.com            NaT
6     Sofia  27.0    SEVILLA  no-emeil@example.com     2024-05-20
7    Miguel  29.0        SEV       miguel@mail.com     2024-06-01
8      Juan  28.0     MADRID         juan@mail.com            NaT
9     Laura  31.0   VALÉNCIA     laura@example.com     2024-07-10
10  Antonio  35.0     MADRID      antonio@mail.com     2023-11-25
11    María  28.0    SEVILLA        maria@mail.com     2024-01-15
12     Raúl  30.0   VALENCIA      raul@example.com     2024-05-12
13     Eva   28.0  BARCELONA       eva@example.com     2024-04-05
14   Daniel  33.0     MADRID    daniel@example.com     2024-02-29
15   Isabel  27.0       SEV.       isabel@mail.com     2024-03-10
16  Alberto  40.0   VALENCIA      alberto@mail.com            NaT
17   Carmen  28.0   VALÉNCIA    carmen@example.com     2024-07-01
18    Pablo  19.0     MADRID        pablo@mail.com     2024-05-30
19   Teresa  25.0   SEVILLA        teresa@mail.com     2024-02-20

In [83]:
df["fecha_registro"] = df["fecha_registro"].fillna("01/01/2000")

In [84]:
df

     nombre  edad     ciudad                 email fecha_registro
0     Ana    25.0    MADRID        ana@example.com     2024-01-10
1      Luis  30.0    SEVILLA     luis(at)@mail.com     2000-01-01
2     Marta  28.0   VALENCIA     marta@example.com     2024-02-15
3    Pedro   28.0  BARCELONA     pedro@example.com     2000-01-01
4     Lucía  22.0     MADRID     lucia@example.com     2024-03-05
5       Ana  25.0        MAD       ana@example.com     2000-01-01
6     Sofia  27.0    SEVILLA  no-emeil@example.com     2024-05-20
7    Miguel  29.0        SEV       miguel@mail.com     2024-06-01
8      Juan  28.0     MADRID         juan@mail.com     2000-01-01
9     Laura  31.0   VALÉNCIA     laura@example.com     2024-07-10
10  Antonio  35.0     MADRID      antonio@mail.com     2023-11-25
11    María  28.0    SEVILLA        maria@mail.com     2024-01-15
12     Raúl  30.0   VALENCIA      raul@example.com     2024-05-12
13     Eva   28.0  BARCELONA       eva@example.com     2024-04-05
14   Daniel  33.0     MADRID    daniel@example.com     2024-02-29
15   Isabel  27.0       SEV.       isabel@mail.com     2024-03-10
16  Alberto  40.0   VALENCIA      alberto@mail.com     2000-01-01
17   Carmen  28.0   VALÉNCIA    carmen@example.com     2024-07-01
18    Pablo  19.0     MADRID        pablo@mail.com     2024-05-30
19   Teresa  25.0   SEVILLA        teresa@mail.com     2024-02-20

In [85]:
df["fecha_registro"] = pd.to_datetime(df["fecha_registro"], format='%d-%m-%Y', errors="coerce")

In [86]:
df

     nombre  edad     ciudad                 email fecha_registro
0     Ana    25.0    MADRID        ana@example.com     2024-01-10
1      Luis  30.0    SEVILLA     luis(at)@mail.com     2000-01-01
2     Marta  28.0   VALENCIA     marta@example.com     2024-02-15
3    Pedro   28.0  BARCELONA     pedro@example.com     2000-01-01
4     Lucía  22.0     MADRID     lucia@example.com     2024-03-05
5       Ana  25.0        MAD       ana@example.com     2000-01-01
6     Sofia  27.0    SEVILLA  no-emeil@example.com     2024-05-20
7    Miguel  29.0        SEV       miguel@mail.com     2024-06-01
8      Juan  28.0     MADRID         juan@mail.com     2000-01-01
9     Laura  31.0   VALÉNCIA     laura@example.com     2024-07-10
10  Antonio  35.0     MADRID      antonio@mail.com     2023-11-25
11    María  28.0    SEVILLA        maria@mail.com     2024-01-15
12     Raúl  30.0   VALENCIA      raul@example.com     2024-05-12
13     Eva   28.0  BARCELONA       eva@example.com     2024-04-05
14   Daniel  33.0     MADRID    daniel@example.com     2024-02-29
15   Isabel  27.0       SEV.       isabel@mail.com     2024-03-10
16  Alberto  40.0   VALENCIA      alberto@mail.com     2000-01-01
17   Carmen  28.0   VALÉNCIA    carmen@example.com     2024-07-01
18    Pablo  19.0     MADRID        pablo@mail.com     2024-05-30
19   Teresa  25.0   SEVILLA        teresa@mail.com     2024-02-20

In [87]:
df["fecha_registro"] = df["fecha_registro"].dt.strftime('%d-%m-%Y')

In [88]:
df

     nombre  edad     ciudad                 email fecha_registro
0     Ana    25.0    MADRID        ana@example.com     10-01-2024
1      Luis  30.0    SEVILLA     luis(at)@mail.com     01-01-2000
2     Marta  28.0   VALENCIA     marta@example.com     15-02-2024
3    Pedro   28.0  BARCELONA     pedro@example.com     01-01-2000
4     Lucía  22.0     MADRID     lucia@example.com     05-03-2024
5       Ana  25.0        MAD       ana@example.com     01-01-2000
6     Sofia  27.0    SEVILLA  no-emeil@example.com     20-05-2024
7    Miguel  29.0        SEV       miguel@mail.com     01-06-2024
8      Juan  28.0     MADRID         juan@mail.com     01-01-2000
9     Laura  31.0   VALÉNCIA     laura@example.com     10-07-2024
10  Antonio  35.0     MADRID      antonio@mail.com     25-11-2023
11    María  28.0    SEVILLA        maria@mail.com     15-01-2024
12     Raúl  30.0   VALENCIA      raul@example.com     12-05-2024
13     Eva   28.0  BARCELONA       eva@example.com     05-04-2024
14   Daniel  33.0     MADRID    daniel@example.com     29-02-2024
15   Isabel  27.0       SEV.       isabel@mail.com     10-03-2024
16  Alberto  40.0   VALENCIA      alberto@mail.com     01-01-2000
17   Carmen  28.0   VALÉNCIA    carmen@example.com     01-07-2024
18    Pablo  19.0     MADRID        pablo@mail.com     30-05-2024
19   Teresa  25.0   SEVILLA        teresa@mail.com     20-02-2024

In [89]:
df.to_csv("personas_limpio.csv", index=False)