In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv("Airbnb_Open_Data.csv")

/tmp/ipykernel_171/3424017332.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Airbnb_Open_Data.csv")

Primeras Filas

In [7]:
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

Dimenciones del Documento

In [8]:
df.shape

(102599, 26)

Ultimas Filas

In [11]:
df.tail()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

Tipos de Datos

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

Nombre de Columnas en snake_case

In [14]:
df.columns= df.columns.str.lower()

In [15]:
df.columns

Index(['id', 'name', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [16]:
df.columns = df.columns.str.replace(' ', '_')

In [18]:
df.columns

Index(['id', 'name', 'host_id', 'host_identity_verified', 'host_name',
       'neighbourhood_group', 'neighbourhood', 'lat', 'long', 'country',
       'country_code', 'instant_bookable', 'cancellation_policy', 'room_type',
       'construction_year', 'price', 'service_fee', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'review_rate_number', 'calculated_host_listings_count',
       'availability_365', 'house_rules', 'license'],
      dtype='object')

Comprobar y tratar nulos

In [19]:
df.isna().sum()

id                                     0
name                                 250
host_id                                0
host_identity_verified               289
host_name                            406
neighbourhood_group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country_code                         131
instant_bookable                     105
cancellation_policy                   76
room_type                              0
construction_year                    214
price                                247
service_fee                          273
minimum_nights                       409
number_of_reviews                    183
last_review                        15893
reviews_per_month                  15879
review_rate_number                   326
calculated_host_listings_count       319
availability_365                     448
house_rules                        52131
license                           102597
dtype: int64

Mantener filas que tengan mas de 19 valores no nulos

In [20]:
df = df.dropna(thresh=19)

In [21]:
df.shape

(102592, 26)

Poner "0" a todos los campos nulos

In [25]:
df = df.fillna(0)

In [26]:
df.isna().sum()

id                                0
name                              0
host_id                           0
host_identity_verified            0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
lat                               0
long                              0
country                           0
country_code                      0
instant_bookable                  0
cancellation_policy               0
room_type                         0
construction_year                 0
price                             0
service_fee                       0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
review_rate_number                0
calculated_host_listings_count    0
availability_365                  0
house_rules                       0
license                           0
dtype: int64

Eliminar Duplicados

In [27]:
df = df.drop_duplicates()

In [28]:
df.shape

(102051, 26)

Limpiar Textos y normalizar valores

In [29]:
df["neighbourhood"] = df["neighbourhood"].str.strip().str.lower()

In [30]:
df["room_type"] = df["room_type"].str.strip().str.lower()

In [32]:
df["neighbourhood"]

0                 kensington
1                    midtown
2                     harlem
3               clinton hill
4                east harlem
                 ...
102053              flatbush
102054              bushwick
102055    bedford-stuyvesant
102056                harlem
102057                harlem
Name: neighbourhood, Length: 102051, dtype: object

In [33]:
df["room_type"]

0            private room
1         entire home/apt
2            private room
3         entire home/apt
4         entire home/apt
               ...
102053       private room
102054       private room
102055    entire home/apt
102056       private room
102057    entire home/apt
Name: room_type, Length: 102051, dtype: object

Limpiar Precios

In [34]:
df["price"] = df["price"].replace('[\$,]', '', regex = True).astype(float)

In [35]:
df["price"]

0          966.0
1          142.0
2          620.0
3          368.0
4          204.0
           ...
102053     696.0
102054     909.0
102055     387.0
102056     848.0
102057    1128.0
Name: price, Length: 102051, dtype: float64

Comprobar si existen categorias iguales escritas diferente

In [38]:
df["neighbourhood"].unique()

array(['kensington', 'midtown', 'harlem', 'clinton hill', 'east harlem',
       'murray hill', 'bedford-stuyvesant', "hell's kitchen",
       'upper west side', 'chinatown', 'south slope', 'west village',
       'williamsburg', 'fort greene', 'chelsea', 'crown heights',
       'park slope', 'windsor terrace', 'inwood', 'east village',
       'greenpoint', 'bushwick', 'flatbush', 'lower east side',
       'prospect-lefferts gardens', 'long island city', 'kips bay',
       'soho', 'upper east side', 'prospect heights',
       'washington heights', 'woodside', 'brooklyn heights',
       'carroll gardens', 'gowanus', 'flatlands', 'cobble hill',
       'flushing', 'boerum hill', 'sunnyside', 'dumbo', 'st. george',
       'highbridge', 'financial district', 'ridgewood',
       'morningside heights', 'jamaica', 'middle village', 'noho',
       'ditmars steinway', 'flatiron district', 'roosevelt island',
       'greenwich village', 'little italy', 'east flatbush',
       'tompkinsville', 'astoria', 'clason point', 'eastchester',
       'kingsbridge', 'two bridges', 'queens village', 'rockaway beach',
       'forest hills', 'nolita', 'woodlawn', 'university heights',
       'gravesend', 'gramercy', 'allerton', nan, 'east new york',
       'theater district', 'concourse village', 'sheepshead bay',
       'emerson hill', 'fort hamilton', 'bensonhurst', 'tribeca',
       'shore acres', 'sunset park', 'concourse', 'elmhurst',
       'brighton beach', 'jackson heights', 'cypress hills', 'st. albans',
       'arrochar', 'rego park', 'wakefield', 'clifton', 'bay ridge',
       'graniteville', 'spuyten duyvil', 'stapleton', 'briarwood',
       'ozone park', 'columbia st', 'vinegar hill', 'mott haven',
       'longwood', 'canarsie', 'battery park city', 'civic center',
       'east elmhurst', 'new springville', 'morris heights', 'arverne',
       'cambria heights', 'tottenville', 'mariners harbor', 'concord',
       'borough park', 'bayside', 'downtown brooklyn', 'port morris',
       'fieldston', 'kew gardens', 'midwood', 'college point',
       'mount eden', 'city island', 'glendale', 'port richmond',
       'red hook', 'richmond hill', 'bellerose', 'maspeth',
       'williamsbridge', 'soundview', 'woodhaven', 'woodrow',
       'co-op city', 'stuyvesant town', 'parkchester', 'north riverdale',
       'dyker heights', 'bronxdale', 'sea gate', 'riverdale',
       'kew gardens hills', 'bay terrace', 'norwood', 'claremont village',
       'whitestone', 'fordham', 'bayswater', 'navy yard', 'brownsville',
       'eltingville', 'fresh meadows', 'mount hope', 'lighthouse hill',
       'springfield gardens', 'howard beach', 'belle harbor',
       'jamaica estates', 'van nest', 'morris park', 'west brighton',
       'far rockaway', 'south ozone park', 'tremont', 'corona',
       'great kills', 'manhattan beach', 'marble hill', 'dongan hills',
       'castleton corners', 'east morrisania', 'hunts point', 'neponsit',
       'pelham bay', 'randall manor', 'throgs neck', 'todt hill',
       'west farms', 'silver lake', 'morrisania', 'laurelton',
       'grymes hill', 'holliswood', 'pelham gardens', 'belmont',
       'rosedale', 'edgemere', 'new brighton', 'midland beach',
       'baychester', 'melrose', 'bergen beach', 'richmondtown',
       'howland hook', 'schuylerville', 'coney island', 'new dorp beach',
       "prince's bay", 'south beach', 'bath beach', 'jamaica hills',
       'oakwood', 'castle hill', 'hollis', 'douglaston', 'huguenot',
       'olinville', 'edenwald', 'grant city', 'westerleigh',
       'bay terrace, staten island', 'westchester square', 'little neck',
       'fort wadsworth', 'rosebank', 'unionport', 'mill basin',
       'arden heights', "bull's head", 'new dorp', 'rossville',
       'breezy point', 'willowbrook', 'glen oaks', 'gerritsen beach',
       'chelsea, staten island'], dtype=object)

In [39]:
df["room_type"].unique()

array(['private room', 'entire home/apt', 'shared room', 'hotel room'],
      dtype=object)

In [40]:
df["country"].unique()

array(['United States', 0], dtype=object)

In [41]:
df.to_csv("Airbnb_Open_Data_limpio.csv", index=False)